extends admin
block script
    script.
        window.onload = function(){
            var newQuestionButton = document.getElementById("addNewButton")
            console.log("here")

        }


block admin-page
    form(action="/admin/newQuestion", method="GET")
        button.btn.btn-primary(type="submit" id="addNewButton") Add new question
    br
    br

    table-y.scrollbar(id="quesions")
        table.table.table-striped
            thead
                tr
                    th(scope='col') Number 
                    th(scope='col') Question
                    th(scope='col')   
            
            tbody
                each element,index in data
                    tr
                        th(scope='row')= index + 1 
                        td
                            a(href="/admin/question/" + element.id)= element.question
                        td
                            form(action="/admin/delete/"+element.id method='post')
                                button.btn.btn-danger(type='submit') Delete
            