extends layout

block content
    .container-fluid(style="height: 100vh; background-color: #f0f0f0")
        .container-fluid.login-window
            h2 Admin Login
            form(action="/admin/authorize" method="POST")
                .form-group
                    label(for="username") Username
                    input.form-control(type="text" id="username" name="username")
                    label(for="password") Password
                    input.form-control(type='password' id = 'password' name='password')
                button.btn.btn-primary(type="submit") Login
